In [1]:
import json
import os
import pandas as pd

In [2]:
# Path to corpus file
multihop_corpus_path = os.path.join("..", "data", "Multi-hop_RAG_dataset", "corpus.json")

# Read JSON
with open(multihop_corpus_path, "r", encoding="utf-8") as f:
    corpus = json.load(f)

In [3]:
# Convert corpus data into df
corpus_as_df = pd.DataFrame(corpus)
# Get descriptive stats
corpus_as_df.describe()

,title,author,source,published_at,category,url,body
count,609,545,609,609,609,609,609
unique,609,300,49,606,6,609,609
top,Meta to offer ad-free subscription in Europe i...,Natasha Lomas,Sporting News,2023-10-20T21:30:28+00:00,sports,https://techcrunch.com/2023/10/30/meta-ad-free...,Meta is to offer an ad-free subscription versi...
freq,1,14,101,2,211,1,1

This corpus comprises 609 articles from 300 different authors, 49 different sources and 6 different categories.

In [4]:
# Detail on authors
corpus_as_df["author"].unique()

array([None, 'Stan Choe', 'Colum Dell, Yardbarker', 'Dan Treacy',
       'Ian Valentino', 'Rob Miech', 'Arunima Bhanot',
       'The New York Times', 'Morgan Little', 'Jacquelyn Melinek',
       'Kyle Wiggers', 'Robert Calcutt', 'Will Unwin', 'David Pierce',
       'Rebecca Bellan', 'Jeffrey Parkin', 'Johnny Yu',
       'Laura Hampson and Meredith Clark', 'Dilvin Yasa', 'Amber Raiken',
       'Christy Doran', 'Catherine Shu', 'Natasha Lomas', 'Sarah Perez',
       'Cade Metz, Karen Weise, Nico Grant and Mike Isaac',
       'Ingrid Lunden', 'Ben Weiss', 'Tim Biggs', 'David Suggs',
       'Bryan Murphy', 'Kyle Irving', 'Romain Dillet', 'Vinnie Iyer',
       'Kyle Bonn', 'Haje Jan Kamps', 'Nell Geraets', 'Chelsea Ritschel',
       'Alyssa Stringer', 'Jessica Conditt', 'Laura Snapes',
       'Elizabeth Lopatto', 'Paul Sawers', 'Pete Volk',
       'Nick Brinkerhoff', 'Dave Richard', 'Shanna McCarriston',
       'Martin Derbyshire', 'Sam Eggleston', 'James Wallace', 'Rob Smyth',
       '', 'Sheena Vasani', 'CBS Sports Staff', 'Martin Harris',
       'Roi Weinberger', 'STAN CHOE', 'Christine Hall', 'Sam Rutherford',
       'Assaf Gilead', 'Bill Bender', 'Edward Sutelan', 'Tasha Robinson',
       'Mintu Tomar', 'Rebecca Owen', 'Murray Stassen', 'Jamie Jackson',
       'Antonio G. Di Benedetto', 'Amy Skorheim', 'Andy Hunter',
       'Reuters', 'Natalie Weiner', 'Paolo Confino', 'Devin Coldewey',
       'Andrew Tarantola', 'Ed Aarons at Stamford Bridge', 'Tony Mejia',
       'Morgan Sung', 'David Hytner', 'Will Daniel', 'Cody Benjamin',
       'Nick Musial', 'Amanda Chicago Lewis',
       'Anthony Franco, MLB Trade Rumors', 'Ryan Gilliam',
       'Hezi Sternlicht', 'Mia Sato', 'Brad Cox',
       'Serina DeSalvio, Texas A&M University', 'The Roar',
       'zee business', 'Topher L. McDougal, The Conversation',
       'Erika Hayasaki', 'Brian Campbell', 'Paige Hagy',
       'Maria Rugenstein, Mark Zelinka, Kristopher B. Karnauskas, Paulo Ceppi and Timothy Andrews',
       'News', 'Travis Pulver', 'Heath Cummings', 'Sarah Berry',
       'Associated Press', 'James Gregory', 'Andy Hunter at Anfield',
       'Craig Mathieson', 'Derek Decloet, Bloomberg', 'Ron Miller',
       'Alex Wilhelm', 'Toussaint Egan', 'Connor Andrews',
       'Jonathan Burnett', 'wwos', 'Sean Hollister', 'Sarah-Jane Collins',
       'Tony Harper', 'Lindsey Bahr, The Associated Press',
       'Meredith Clark', 'Josh Edwards', 'Rita Liao',
       'Suzanne Wrack at Hampden Park', 'Priyank Mithani',
       'Dominic Booth', 'David Swan', 'Tim Stevens', 'IoT.Business.News',
       'Abe Beame', 'Sudeep Sinha', 'Sloan Piva', 'Sporting News Betting',
       'Ben Miller', 'Jennifer Pattison Tuohy',
       'Jonathan Liew at Wembley', 'Joanna Guelas', 'Jack Snape',
       'Tim Ingham', 'Mike Mahardy', 'Jagmeet Singh', 'Anat-Daniely Lev',
       'Mirette Magdy, Bloomberg', 'Richard Jolly', 'Peter Ryan',
       'Robert Moran', 'Jeff Dunn,Valentina Palladino,Amy Skorheim',
       'Lisa Mascaro, Farnoush Amiri, Stephen Groves, Kevin Freking, The Associated Press',
       'Emily Dozier', 'Michael Benson', 'Katie Malone', 'Matt Burns',
       'Kieran Francis', 'Cameron Faulkner', 'Victoria Song',
       'Jonathan Liew at Old Trafford', 'Anna Heim', 'Andreas Hale',
       'Shi En Kim', 'Mike DeCourcy', 'Engadget',
       'Adriana Morga, The Associated Press', 'Taylor Hatmaker',
       'Dean Straka', 'Moumita Dutta', 'Maria Temming',
       'David Keyton, Christina Larson, Rodrique Ngowi, The Associated Press',
       'Isobel Lewis', 'Amy Beth Hanson, The Associated Press',
       'Daniel Tencer', 'Tom Gray', 'Chirag Radhyan', 'Jake Lambourne',
       'Daniel Dockery', 'Dushyant Singh', 'Jacqueline Maley',
       'Walter Marsh', 'Laura Allen', 'Robert Lea', 'Kris Holt',
       'Tyler Sullivan', 'Gilbert McGregor', 'Nicole Clark',
       'Ansuman Abhisek', 'Rita Nazareth and Sinéad Carew', 'Uma Gurav',
       'Ivan Mehta', 'Puja Molpariya', 'BusinessWorld', 'Swati Bhatia',
       'Alice Newcome-Beill', 'Maanya Sachdeva', 'Harri Weber',
       'Andrew J. Hawkins', 'Matt Jancer',
       'Brendan Murray, Tara Patel, Bloomberg',
       'Faiza Saqib and Amber Raiken', 'Charles Pulliam-Moore',
       "Matt O'Brien, The Associated Press", 'Johana Bhuiyan',
       'Kirsten Korosec', 'Joanna Whitehead',
       'Josh Erickson, Pro Hockey Rumors', 'Tom Naghten', 'Pete Prisco',
       'Jakso James', 'Robin Buller in Oakland, California',
       'Alicia Haddick', 'Wenlei Ma', 'Shaikh Aerajuddin', 'Chris Plante',
       'Nick Igbokwe', 'Damian Mannion', 'Barney Ronay at Old Trafford',
       'Simon Burnton at the Brian Lara Stadium', 'Isaac Thorn',
       'Lisa Mascaro, Farnoush Amiri, Stephen Groves, The Associated Press',
       'Grayson Morley', 'Jesse Hassenger', 'Autumn Wright',
       'Bradley van Paridon', 'Petrana Radulovic', 'Joel Sritharan',
       'Ellie Muir', 'Barbara Krasnoff', 'Jeff Dunn',
       'Vishakha Deshpande', 'Melissa Murphy, The Associated Press',
       'Ela Levi-Weinreb', 'Luke McLaughlin at OL Stadium',
       'Kanishka Prakash', 'James Trew',
       'Jake Coyle, The Associated Press', 'Brian Heater',
       'Shrabana Sengupta', 'Robin McKie, Science Editor',
       'Saurabh Saini', 'Mary Ann Azevedo', 'Kris Johnson',
       'Saleah Blancaflor', 'Tina Hesman Saey', 'Yardbarker Staff',
       'Nilavro Ghosh', 'Crissy Froyd', 'Ian Chadband', 'Zach Rabiroff',
       'Joshua Rivera', 'Sarah Thwaites', 'Tage Kene-Okafor',
       'sascha.pare@futurenet.com (Sascha Pare)', 'Ariel Shapiro',
       'Kayti Burt', 'Jesús Victorino', 'Joseph Hostetler', 'Kat Tretina',
       'Jacob Camenker', 'Aidan Wohl, GoAZCATS.com',
       'Sid Lowe at the Ramón Sánchez Pizjuán Stadium',
       'Ava Benny-Morrison, Bloomberg', 'Sydney Lake', 'Ryan Fagan',
       'Veerendra Vikram Singh', 'Rita Nazareth', 'Ela Levi-Weinrib',
       'Steven Taranto', 'Amanda Silberling', 'Parnab Bhattacharya',
       'Carrie Andrews', 'Jon Porter', 'Matthew Reynolds',
       'Jana Randow, Bloomberg', 'Igor Bonifacic', 'Howard Mustoe',
       'Hunter Felt', 'Yardbarker', 'Cass Marshall', 'Scott Gilbertson',
       'Wes Goldberg, RealGM', 'Gyan Yankovich',
       'Jessica Conditt,Aaron Souppouris', 'Eric Ravenscraft',
       'Michael R. Sisak, The Associated Press', 'Tom Maloney',
       'Luke Baker', 'Nilay Patel', 'Mike Meehall Wood',
       'Patricia Hernandez', 'Simon Peach', 'Kazuma Hashimoto',
       'Matt Lutovsky', 'Chris Wilson', 'Trina Paul', 'Kaleigh Werner',
       'Michael Idato', 'Natalie Wilson', 'Brenda Stolyar',
       'Brent Brookhouse', 'Richard Jinman', 'Barry Divola',
       'Jason Steger', 'Christaline Meyers', 'Susana Polo',
       'Matt Patches', 'Charlie Hall', 'Mike Butcher', 'Justine Calma',
       'Annabel Streets'], dtype=object)

In [5]:
# Detail on sources
corpus_as_df["source"].unique()

array(['Mashable', 'The Sydney Morning Herald',
       'Cnbc | World Business News Leader', 'Yardbarker', 'Sporting News',
       'Essentially Sports', 'The New York Times', 'TechCrunch',
       'TalkSport', 'The Guardian', 'The Verge', 'Polygon',
       'The Independent - Life and Style', 'FOX News - Entertainment',
       'The Age', 'The Roar | Sports Writers Blog', 'Fortune', 'Engadget',
       'CBSSports.com', 'FOX News - Health', 'FOX News - Lifestyle',
       'Globes English | Israel Business Arena', 'Hacker News',
       'Eos: Earth And Space Science News', 'Music Business Worldwide',
       'Sky Sports', 'Business Line',
       'Scitechdaily | Science Space And Technology News 2017',
       'Zee Business',
       'Business Today | Latest Stock Market And Economy News India',
       'Sport Grill', 'Wide World Of Sports', 'Financial Times',
       'Iot Business News', 'BBC News - Technology',
       'The Independent - Sports', 'Yahoo News',
       'Live Science: The Most Interesting Articles',
       'Science News For Students', 'BBC News - Entertainment & Arts',
       'Insidesport', 'Advanced Science News', 'Revyuh Media',
       'Business World', 'Wired', 'Seeking Alpha', 'Sportskeeda',
       'Rivals', 'The Independent - Travel'], dtype=object)

In [6]:
# Detail on category
corpus_as_df["category"].unique()

array(['entertainment', 'business', 'sports', 'technology', 'health',
       'science'], dtype=object)

In [7]:
# Detail on article's word count

# Add new feature with word count of each article
corpus_as_df["body_wordcount"] = corpus_as_df["body"].str.split().str.len()
# Get descriptive stats
corpus_as_df["body_wordcount"].describe()

count      609.000000
mean      1746.008210
std       1338.843744
min        839.000000
25%       1036.000000
50%       1298.000000
75%       1938.000000
max      12387.000000
Name: body_wordcount, dtype: float64

In [8]:
# Detail on article's character count

# Add new feature with character count of each article
corpus_as_df["body_charcount"] = corpus_as_df["body"].str.len()
# Get descriptive stats
corpus_as_df["body_charcount"].describe()

count      609.000000
mean     10340.182266
std       7809.231296
min       4770.000000
25%       6112.000000
50%       7836.000000
75%      11471.000000
max      71034.000000
Name: body_charcount, dtype: float64

The median wordcount is ~1300 words, roughly equivalent to between 3.5 and 5 pages depending on the particular format.

In [9]:
corpus_as_df

,title,author,source,published_at,category,url,body,body_wordcount,body_charcount
0,200+ of the best deals from Amazon's Cyber Mon...,None,Mashable,2023-11-27T08:45:59+00:00,entertainment,https://mashable.com/article/cyber-monday-deal...,"Table of Contents Table of Contents Echo, Fire...",987,5813
1,ASX set to drop as Wall Street’s September slu...,Stan Choe,The Sydney Morning Herald,2023-09-26T19:11:30+00:00,business,https://www.smh.com.au/business/markets/asx-se...,"ETF provider Betashares, which manages $30 bil...",952,5649
2,Amazon sellers sound off on the FTC's 'long-ov...,None,Cnbc | World Business News Leader,2023-10-06T21:31:00+00:00,business,https://www.cnbc.com/2023/10/06/amazon-sellers...,A worker sorts out parcels in the outbound doc...,1626,9801
3,"Christmas Day preview: 49ers, Ravens square of...","Colum Dell, Yardbarker",Yardbarker,2023-12-24T23:34:39+00:00,sports,https://www.yardbarker.com/nfl/articles/christ...,"Christmas Day isn't just for the NBA, as the N...",1101,6625
4,"Raiders vs. Lions live score, updates, highlig...",Dan Treacy,Sporting News,2023-10-30T22:20:03+00:00,sports,https://www.sportingnews.com/us/nfl/news/raide...,The Lions just needed to get themselves back i...,2766,15385
...,...,...,...,...,...,...,...,...,...
604,Cannabis use in pregnancy linked to small birt...,None,Live Science: The Most Interesting Articles,2023-12-13T17:21:53+00:00,science,https://www.livescience.com/health/fertility-p...,Using cannabis during pregnancy may come with ...,934,5800
605,"Walks, tech and protein: how to parent your ow...",Annabel Streets,The Guardian,2023-10-10T09:00:35+00:00,entertainment,https://www.theguardian.com/lifeandstyle/2023/...,Parenting no longer starts and stops with our ...,1075,6557
606,Super Mario Bros. Wonder is a perfect end for ...,Chris Plante,Polygon,2023-10-18T13:00:00+00:00,entertainment,https://www.polygon.com/reviews/23920680/super...,The second level of Super Mario Bros. Wonder i...,1664,9857
607,The best apps and tools for managing your mone...,David Pierce,The Verge,2023-11-12T13:00:00+00:00,technology,https://www.theverge.com/2023/11/12/23955681/b...,"Hi, friends! Welcome to Installer No. 14, your...",2585,14259
608,Meta to offer ad-free subscription in Europe i...,Natasha Lomas,TechCrunch,2023-10-30T13:52:00+00:00,technology,https://techcrunch.com/2023/10/30/meta-ad-free...,Meta is to offer an ad-free subscription versi...,1256,7493